.bg-gradient-primary {
  background: linear-gradient(to bottom right, #d5dfee, #f3ecdc, #d5dfee);
}

.bg-gradient-secondary {
  background: linear-gradient(to bottom right, #c8f6ff, #f6f2eaad, #c8f6ff);
}

#loader {
  z-index: 999999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/images/loader.gif) 50% 50% no-repeat #ffffff;
}
